{% extends 'base-backend.html.twig' %}

{% block title %}Carousel index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
    <h1 class="bg-dark text-white mt-3 fw-bolder fs-1">Carousel Images</h1>
    <a href="{{ path('app_admin_carousel_new') }}"class="btn btn-success mt-3">Nouveau</a>
    </div>
    <table class="table bg-dark text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
{#                 <th>Text</th> #}
                <th>Image</th>
                <th>Tag</th>
                <th>UpdatedAt</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel in carousels %}
            <tr>
                <td>{{ carousel.id }}</td>
                <td>{{ carousel.title }}</td>
{#                 <td>{{ carousel.text }}</td> #}
                <td>  {# ACTIVATION DE LIGHTBOX AVEC HTML  #}
                <a href="{{ asset('images/carousels/' ~ carousel.imageName )}}" data-lightbox="{{ carousel.imageName}}">
                <img src="{{ asset('images/carousels/' ~ carousel.imageName )}}" class="img-list" 
                alt="{{ carousel.imageName }}">
                </a>
                </td>
                <td>{{ carousel.tag }}</td>
                <td>{{ carousel.updatedAt ? carousel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-end">  {# Bascule les icons show/edit à la fin  #}
                <a href="{{ path('app_admin_carousel_show', {'id': carousel.id}) }}"class="btn btn-light"><i 
                    class="align-middle" data-feather="eye"></i></a>
                <a href="{{ path('app_admin_carousel_edit', {'id': carousel.id}) }}"class="btn btn-success"><i 
                    class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
            <td colspan="6">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
