{% extends 'base.html.twig' %}

{% block title %}
    Bagues
{% endblock %}

{% block body %}
    <style>

</style>
    <h1 class=" text-white mt-4  fw-bolder fs-1 text-center">
        Bagues
    </h1>
    {#  {% for bague in bagues %} #}
    {# CARDS BAGUES  #}
    <div class="row row-cols-1 ms-2 row-cols-md-3 g-3 mt-3 text-white bg-dark mb-4 ">
        <div class="col text-center">  {# TEXTE - BUTTON CENTRÉ #}
            <div class="card dark bg-dark mb-3">  {# CARTE #1  LEOPARD#}
                <img src="{{ asset('images/bagues/leo1.jpeg')}}" class="img-fluid"  alt="leopard">
                    <div class="card-body">
                        <h5 class="card-title ">
                            Leopard
                        </h5>
                    <button type="button" class="btn btn-outline-warning">Voir plus</button>
                    </div>
                </div>
            </div>
            <div class="col text-center">  {# CARTE #2 TETE DE MORT #}
                <div class="card card dark bg-dark mb-3">
                    <img src="{{ asset('images/bagues/dead1.jpeg') }}" class="card-img-top" alt="tete-de-mort">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Tête De Mort 
                            </h5>
                        <button type="button" class="btn btn-outline-warning">Voir plus</button>
                        </div>
                    </div>
                </div>

                <div class="col text-center">   {# CARTE #3 JEANNE  #}
                    <div class="card card dark bg-dark mb-3">
                        <img src="{{ asset('images/bagues/jeanne1.jpeg') }}" class="card-img-top" alt="Jeanne">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    Jeanne
                                </h5>
                            <button type="button" class="btn btn-outline-warning">Voir plus</button>
                            </div>
                        </div>
                    </div>

                        <div class="col text-center">   {# CARTE #4 JEANNE  #}
                        <div class="card card dark bg-dark mb-3">
                            <img src="{{ asset('images/bagues/jeanne1.jpeg') }}" class="card-img-top" alt="Jeanne">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        Jeanne
                                    </h5>
                                <button type="button" class="btn btn-outline-warning">Voir plus</button>
                                </div>
                            </div>
                        </div>

                        <div class="col text-center">   {# CARTE #5 JEANNE  #}
                        <div class="card card dark bg-dark mb-3">
                            <img src="{{ asset('images/bagues/jeanne1.jpeg') }}" class="card-img-top" alt="Jeanne">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        Jeanne
                                    </h5>
                                <button type="button" class="btn btn-outline-warning">Voir plus</button>
                                </div>
                            </div>
                        </div>

                        <div class="col text-center">   {# CARTE #6 JEANNE  #}
                        <div class="card card dark bg-dark mb-3">
                            <img src="{{ asset('images/bagues/jeanne1.jpeg') }}" class="card-img-top" alt="Jeanne">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        Jeanne
                                    </h5>
                                <button type="button" class="btn btn-outline-warning">Voir plus</button>
                                </div>
                            </div>
                        </div>

                        <div class="col text-center">   {# CARTE #7 JEANNE  #}
                        <div class="card card dark bg-dark mb-3">
                            <img src="{{ asset('images/bagues/jeanne1.jpeg') }}" class="card-img-top" alt="Jeanne">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        Jeanne
                                    </h5>
                                <button type="button" class="btn btn-outline-warning">Voir plus</button>
                                </div>
                            </div>
                        </div>

                        <div class="col text-center">   {# CARTE #8 JEANNE  #}
                        <div class="card card dark bg-dark mb-3">
                            <img src="{{ asset('images/bagues/jeanne1.jpeg') }}" class="card-img-top" alt="Jeanne">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        Jeanne
                                    </h5>
                                <button type="button" class="btn btn-outline-warning">Voir plus</button>
                                </div>
                            </div>
                        </div>

                        <div class="col text-center">   {# CARTE #9 JEANNE  #}
                        <div class="card card dark bg-dark mb-3">
                            <img src="{{ asset('images/bagues/jeanne1.jpeg') }}" class="card-img-top" alt="Jeanne">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        Jeanne
                                    </h5>
                                <button type="button" class="btn btn-outline-warning">Voir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {# {% endfor %} #}
                {% endblock %}
                