{% extends 'base-backend.html.twig' %}

{% block title %}Collier{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_collier_index') }}"class="btn btn-light fw-bold">Retourn à la liste</a>
    <h1 class="bg-dark text-white mt-3">Collier</h1>

    <table class="table bg-dark text-white">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collier.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ collier.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ collier.description }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ collier.tag }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ collier.updatedAt ? collier.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ collier.imageName }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ collier.slug }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
    <a href="{{ path('app_admin_collier_edit', {'id': collier.id}) }}"class="btn btn-success"><i 
    class="align-middle" data-feather="edit-2"></i></a>
    </div>
    {{ include('admin_collier/_delete_form.html.twig') }}
{% endblock %}
